{% include 'header.html' %}
<center>
<h1>{{object.title}}</h1>
<p>{{object.description}}</p>
<img src="{{object.image.url}}" alt="" width="450" height="350">
<iframe src="{{object.trailer}}" frameborder="0" width="450" height="350"></iframe>
<p>{{object.quantity}}</p>
<p>{{object.genre}}</p>
<p>{{object.created_date}}</p>
    <div>
        <table border>
            <tr>
                <th>Имя</th> <th>Комментарий</th> <th>Оценка</th>
            </tr>

            {% for j in show_id.comment_object.all %}
            <tr>
                <td>{{j.name}}</td><td>{{j.text}}</td><td> &nbsp;&nbsp;&nbsp;{{j.rating}}</td>
            </tr>

            {% endfor %}


        </table>
    </div>





<button><a href="/tvshow/{{object.id}}/delete">Удалить</a></button>
<button><a href="/tvshow/{{object.id}}/update">Изменить</a></button>
    </center>
</body>
</html>